body{
    font-family: sans-serif;
    display: flex;
    border:0px;
    margin:0px;
    flex-flow: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#gridContainer {
    display: flex;
    width: 600px;
    height: 600px;
    background-color: lightseagreen;
    border: solid red;
    flex-flow: row wrap;
}

.grid{
    display: flex;
    background-color: lightseagreen;
    border:0px;
    margin:0px;
}

.footer{
    display: flex;
    background-color: darkblue;
    color:white;
}

.button{
    display: flex;
    padding-bottom: 50px;
}