body{
    display: flex;
    border:0px;
    margin:0px;
    flex-flow: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#gridContainer {
    display: flex;
    width: 600px;
    height: 600px;
    background-color: pink;
    border: solid black;
}

.grid{
    display: flex;
    background-color: lightseagreen;
    border:0px;
    margin:0px;
    flex: 1;
}

.footer{
    display: flex;
    background-color: darkblue;
    color:white;
}